<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_3HaLUfxC3wrlZhyv2aae7vHkcgrl_os</string>
	<key>GCM_SENDER_ID</key>
	<string>739240414638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appcommerce.appcommerce.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mapcommerce-b4330</string>
	<key>STORAGE_BUCKET</key>
	<string>mapcommerce-b4330.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739240414638:ios:352100054f9f642df9cc3f</string>
</dict>
</plist>